* {
    margin: 0;
    padding: 0;
}

.header {
    height: 500px;
    background: green;
    background-position: top center;

    .header__block {
        float: left;
        width: 33%;
        border: 10px solid yellow;
        padding: 10px;
    }
}


